.main_container {
    background-color: #f3f2f0;
    height: 100vh;
    .wrapper_container {
        width: 60%;
        margin: 0 auto;
        header {
            padding: 24px 28px;
            .logo {
                width: 150px;
                height: 33.5px;
            }
        }
        .form_section {
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateY(-17px);
            h1 {
                font-size: 32px;
                font-weight: 400;
                margin-top: 10px;
                white-space: nowrap;
            }
            p {
                font-size: 14px;
                span {
                    color: #0a66c2;
                    font-weight: 600;

                }
            }
        }
    }
}